<!DOCTYPE html>
<html>
<head>
    <title>Image Pairs</title>
</head>
<body>
    <div>
        {% for annotated, prediction in image_pairs %}
        <div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 20px;">
            <h1>{{ annotated }}</h1>
            <div style="display: flex; align-items: center; margin-top: 10px;">
                <div style="margin-right: 20px;">
                    <h2 align="center">Annotated Ground Truth</h2>
                    <img src="{{ url_for('static', filename='annotated_ground_truth/' ~ annotated) }}" alt="{{ annotated }}">
                </div>
                <div>
                    <h2 align="center">Prediction</h2>
                    <img src="{{ url_for('static', filename='predictions/' ~ prediction) }}" alt="{{ prediction }}">
                </div>
            </div>
            <br/>
            <hr style="width:50%"> 
        </div>
        {% endfor %}
    </div>
</body>
</html>
